<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

        <!-- ===== Déclaration des Managers ===== -->
	<bean id="Controleur" class="fr.ufrsciencestech.panier.Controler.ControleurSimple"></bean>
        <bean id="Vue" class="fr.ufrsciencestech.panier.View.VueGraphiqueSimple"></bean>

        <!-- ===== ManagerFactory ===== -->
	<bean id="MVC" class="fr.ufrsciencestech.panier.View.TestMVC">
            <property name="vueg" ref="Vue"/>
        </bean>

</beans>
